@(implicit r: RequestHeader)
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Editator</title>
		<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/editator.js")"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="icon" href="@routes.Assets.at("favicon.ico")">
	</head>
	<body ng-app="editator" ng-controller="Editator" ed-events-service="@routes.Application.editatorEvents().webSocketURL()">
		<div>
			<span>Existing rooms:</span>
			<select ng-model="key">
				<option ng-repeat="roomkey in existingRooms">{{roomkey}}</option>
			</select>
			<span>Room: <input type="text" ng-model="key" size="16"></input></span>
			<a href="" ng-click="toggleJoinRoom()">{{room.joinLabel}}</a>
			<form ng-submit="updateNick()">
				<span>Nick:</span>
				<input type="text" ng-model="user.nick" size="24">
				<input type="submit" value="Update nickname">
			</form>
		</div>
		<div>
			<span>Current users:</span>
			<ul>
				<li ng-repeat="name in room.users">{{name}}</li>
			</ul>
		</div>
		<div>
			<span>Content:</span>
			<textarea ng-model="content.text"></textarea>
		</div>
	</body>
</html>
