@(implicit r: RequestHeader)
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Editator</title>
		<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/editator.js")"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="icon" href="@routes.Assets.at("favicon.ico")">
	</head>
	<body ng-app="editator" ng-controller="Editator" ed-events-service="@routes.Application.editatorEvents().webSocketURL()">
			<form ng-submit="updateNick()">
				<span>Nick:</span>
				<input type="text" ng-model="user.nick" size="24">
				<input type="submit" value="Notify room">
			</form>
		</div>
		<div>
			<span>Current users:</span>
			<ul>
				<li ng-repeat="user in room.users">{{user.name}}</li>
			</ul>
		</div>
	</body>
</html>
