@(implicit r: RequestHeader)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Editator</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="icon" href="@routes.Assets.at("favicon.ico")">
		<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/angular.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/moment.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/editator.js")"></script>
	</head>
	<body ng-app="editator" ng-controller="Editator" ed-events-service="@routes.Application.editatorEvents("{roomKey}", "{userId}").webSocketURL()">
		<header>
			<hgroup>
				<h1>Editator</h1>
				<h2>A toy webapp for collaborative editing</h2>
			</hgroup>
		</header>
		<nav>
			<ul>
				<li><a href="https://github.com/benhyland/editator">Code</a></li>
			</ul>
		</nav>
		<section>
			<h1>{{room.roomLabel()}}</h1>
			<section ng-show="room.isJoined">
				<h1>Current users:</h1>
				<ul>
					<li ng-repeat="user in room.users">{{user.nick}}</li>
				</ul>
			</section>
			<section ng-hide="room.isJoined">
				<h1>Join a room:</h1>
				<select ng-model="roomSet.selectedRoom">
					<option ng-repeat="roomkey in roomSet.rooms()">{{roomkey}}</option>
				</select>
				<span>Room key: <input type="text" ng-model="roomSet.selectedRoom" size="16"></span>
			</section>
			<section>
				<a href="" ng-click="toggleJoinRoom()">{{room.joinLabel}}</a>
			</section>
			<section ng-show="room.isJoined">
				<h1>Content:</h1>
				<textarea ng-model="content.text" ng-disabled="content.disabled()"></textarea>
			</section>
			<section ng-show="room.isJoined">
				<h1>Chat:</h1>
				<p ng-repeat="msg in room.messages">{{getNick(msg.from)}} @@ {{msg.time}} : {{msg.text}}</p>
				<form ng-submit="sendMessage()">
					<input type="text" ng-model="room.blah" placeholder="insert blah to continue">
					<input type="submit" value="Send blah">
				</form>
			</section>
		</section>
		<section>
			<h1>Profile</h1>
			<form ng-submit="updateNick()">
				<span>Nick:</span>
				<input type="text" ng-model="user.nick" size="24">
				<input type="submit" value="Update nickname">
			</form>
		</section>
	</body>
</html>
